*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #151515;
    color: #EEEEEE;
    font-family: 'Poppins', Arial;
}

.title{
    background-color: #C73659;
    color: #eeeeee;
    padding: 15px 0;
    padding-left: 25px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 20px;
}

textarea{
    field-sizing: content;
    resize: none;
    min-height: 20lh;
    width: 30lh;
    background-color: #dddddd;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    padding: 1em;
    margin-top: 5px;
    margin-bottom: 20px;
}

@media (max-width: 480px){
    textarea{
        min-height: 10lh;
        width: 15lh;
    }
}

.shift_amount{
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100px;
    border: 2px solid transparent;
    background-color: #dddddd;
    outline: none;
    padding: 0.3em;
}

.radio_buttons{
    display: flex;
    gap: 10px;
}

input[type=radio]{
    margin-bottom: 10px;
    accent-color: #A91D3A;
}

.submit_button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: white;
    background-color: #C73659;
    font-size: 1em;
}

.submit_button:hover{
    cursor: pointer;
}

/* Removing arrows from number input field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}